body {
	text-align: center;
	font-family:Helvetica;
}
h1 {
    font-size: 60px;
}
h6 {
	display: inline;
}
p {
	font-size: 14px;
}
nav a {
	color: white;
	font-size:16px;

}
#first {
	color:white;
	background-image: url(file:///C:/cygwin/home/jan/projects/broadway/resources/images/the-flatiron-building.png);
}
#where {
	color:white;
	background-image: url(file:///C:/cygwin/home/jan/projects/broadway/resources/images/the-flatiron-building.png);
}
#two {
	color:white;
	background-color:gray;
}